<div class="col-sm-4 offset-sm-4">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../assets/home.png" style="width: 40px; height: 40px">
    </a>
  </nav>
  <div class="signuparea">
    <form [formGroup]="signUpForm" class="form-body">
      <p class="h4 text-center mb-4">Sign up</p>

      <div class="form-row mb-4">
        <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" formControlName="firstname" class="form-control"
            placeholder="First name">
        </div>
        <div class="col">
          <!-- Last name -->
          <input type="text" id="defaultRegisterFormLastName" formControlName="lastname" class="form-control"
            placeholder="Last name">
        </div>
      </div>

      <!-- E-mail -->
      <input type="email" id="defaultRegisterFormEmail" formControlName="email" class="form-control mb-4"
        placeholder="E-mail">

      <!-- Password -->
      <input type="text" id="defaultRegisterFormPassword" formControlName="password" class="form-control"
        placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
      <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 6 characters
      </small>

      <!-- Phone number -->
      <input type="text" id="defaultRegisterPhonePassword" formControlName="phoneNumber" class="form-control"
        placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
      <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
        Optional - for two step authentication
      </small>

      <button class="btn btn-primary my-4 btn-block" type="submit">Sign up</button>

      <div class="text-center">
        <hr>
        <p>By clicking
          <em>Sign up</em> you agree to our
          <a href="" target="_blank">Terms of Service and Conditions</a> and
        </p>
      </div>
    </form>
  </div>

  <div class="container container-second">
      <a class="item-links" href="">
          <div class="card-body">
              Desktop Version
            </div>
      </a>
      <a class="item-links" href="">
          <div class="card-body">
              Terms and Conditions
            </div>
      </a>
      <a class="item-links" href="">
          <div class="card-body">
              Contact Us
            </div>
      </a>
      <a class="item-links" href="">
          <div class="card-body">
              Lorem Ipsum
            </div>
      </a>
      <a class="item-links" href="">
          <div class="card-body">
              Lorem Ipsum
            </div>
      </a>
      <a class="item-links" href="">
          <div class="card-body">
              Lorem Ipsum
            </div>
      </a>
    </div>
</div>