<!-- <div>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../assets/home2.png" style="width: 40px; height: 40px">
    </a>
    <a class="navbar-brand" href="/account/signin">
      <button type="button" class="btn btn-info signinbtn">Signin</button>
    </a>
  </nav>
  <p class="text-center"> Welcome to Bordman</p>
  <div class="container container-grid">
    <a class="item-links" href="leagues/england">
      <div class="card grid-card">
        <img src="../../assets/field.png" alt="" style="width: 40px; height: 40px; margin: auto">
        <p>Leagues</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/wallet2.png" alt="" style="width: 40px; height: 40px; margin: auto">
        <p>Deposit</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/account.png" alt="" style="width: 40px; height: 40px; margin: auto">
        <p>Account</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
        <p>Betslip</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
        <p>Leagues</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
        <p>Test</p>
      </div>
    </a>
    <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
          <p>Lorem Ipsum</p>
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
          <p>Lorem Ipsum</p>
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
          <p>Lorem Ipsum</p>
        </div>
      </a>
      <a class="item-links" href="">
          <div class="card grid-card">
            <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
            <p>Betslip</p>
          </div>
        </a>
        <a class="item-links" href="">
          <div class="card grid-card">
            <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
            <p>Leagues</p>
          </div>
        </a>
        <a class="item-links" href="">
          <div class="card grid-card">
            <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
            <p>Test</p>
          </div>
        </a>
  </div>

  <div class="container container-second">
    <a class="item-links" href="">
        <div class="card-body">
            Desktop Version
          </div>
    </a>
    <a class="item-links" href="">
        <div class="card-body">
            Terms and Conditions
          </div>
    </a>
    <a class="item-links" href="">
        <div class="card-body">
            Contact Us
          </div>
    </a>
    <a class="item-links" href="">
        <div class="card-body">
            Lorem Ipsum
          </div>
    </a>
    <a class="item-links" href="">
        <div class="card-body">
            Lorem Ipsum
          </div>
    </a>
    <a class="item-links" href="">
        <div class="card-body">
            Lorem Ipsum
          </div>
    </a>
  </div>
</div> -->
<div>
  <div class="header-content">
    <div class="main-content">
      <nav class="navbar navbar-light">
        <div>
          <a class="navbar-brand" href="#">
            <img src="../../assets/home2.png" style="width: 40px; height: 40px"> Bordman
          </a>
        </div>
        <div class="info-details">
          <div class="depo">
            <a class="info-details-section" href="">&nbsp; Deposit &nbsp;</a>
          </div> 
          <div class="depo">
            <a class="info-details-section" href="">&nbsp; History &nbsp;</a>
          </div> 
          <div class="dropdown">
            <p class="info-details-section">&nbsp; Account <i class="fa fa-caret-down"></i></p>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <div class="dropdown-divider"></div>
                <a href="#">Logout</a>
              </div>
          </div> 
        </div>
      </nav>
    </div>
    <div class="wrapper">
      <nav class="nav-route">
        <a href="" class="nav-item active">Home</a>
        <a href="" class="nav-item">Popular Bets</a>
        <a href="" class="nav-item">Trouble</a>
        <a href="" class="nav-item">Trouble</a>

      </nav>

    </div>
  </div>
  <!-- <div class="container container-grid">
      <a class="item-links" href="leagues/england">
        <div class="card grid-card">
          <img src="../../assets/field.png" alt="">
          <p>Leagues</p>
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/wallet2.png" alt="">
          <p>Deposit</p>
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/account.png" alt="">
          <p>Account</p>
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/home.png" alt="">
          <p>Betslip</p>
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/home.png" alt="">
          <p>Leagues</p>
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/home.png" alt="">
          <p>Test</p>
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/home.png" alt="">
          <p>Lorem Ipsum</p>
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/home.png" alt="">
          <p>Lorem Ipsum</p>
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/home.png" alt="">
          <p>Lorem Ipsum</p>
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/home.png" alt="">
          <p>Betslip</p>
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/home.png" alt="">
          <p>Leagues</p>
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/home.png" alt="">
          <p>Test</p>
        </div>
      </a>
    </div> -->
  <div class="wrapper">
    
    <div>spliff</div>
    <div>Wow
      <button (click)="addodds($event)" value="{{title}}">Add me</button>
    </div>
    <div class="thirdcontent">
      <!-- <div *ngFor="let table of heroes">
        <span>{{table}}</span>
        <span><i (click)="deleteExpense(row._id)" style="cursor: pointer; margin-right: 15px"
          class="icon fa fa-trash fa-1.5x text-danger" 
          placement="auto" ngbTooltip="Delete Expense" id="delete_expense"></i></span>
      </div> -->
      <div>
        <div class="betslip-area">
          <div class="betslip-area-header">
            betslip
          </div>
          <div class="betslip-area-content" >
              <div *ngIf="heroes.length === 0">
                  No bets. Select events to place bets!
              </div>
              <div class="rule" style="display: flex" *ngFor="let table of heroes" >
                <div>
                    <hr>
                  </div>
                <div>
                    {{table}}
                </div>
                <div style="margin-left: auto">
                  <i (click)="deleteExpense(row._id)" style="cursor: pointer"
                      class="icon fa fa-trash fa-1.5x text-danger"
                      placement="auto" ngbTooltip="Remove"></i>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container-second">
      <a class="item-links" href="">
        <div class="card-body">
          Desktop Version
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card-body">
          Terms and Conditions
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card-body">
          Contact Us
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card-body">
          Lorem Ipsum
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card-body">
          Lorem Ipsum
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card-body">
          Lorem Ipsum
        </div>
      </a>
    </div> -->
  <footer>
    <div class="top-footer">
      <div class="wrapper">
        <div class="footer-cell">
          <h3 class="subheader">Bordman</h3>
          <ul class="menu">
            <li><a href="">Who we are</a></li>
            <li><a href="">Terms and Conditions</a></li>
            <li><a href="">Responsible Gambling</a></li>
            <li><a href="">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="footer-cell">
          <h3 class="subheader">Bordman</h3>
          <ul class="menu">
            <li><a href="">One</a></li>
            <li><a href="">One</a></li>
            <li><a href="">One</a></li>
            <li><a href="">One</a></li>
          </ul>
        </div>
        <div class="footer-cell">
          <h3 class="subheader">Contact Us</h3>
          <ul class="menu">
            <li>Telephone: xxxxxxxxxx</li>
            <li>Email: xxx@xxx.com</li>
          </ul>
        </div>
        <div></div>
      </div>

    </div>
    <div class="mid-footer">
      <div class="wrapper">
        <div class="mid-footer1">
          <div>
            <div>
              <img class="" src="../../assets/18.png" alt="">
            </div>
          </div>
          <p class=""> Must be 18 years of age or older to register or play at SportyBet. Gambles may have adverse
            effects if not made with moderation.</p>
        </div>
        <div class="mid-footer2">
          <div>
            <img class="" src="../../assets/svg.svg" alt="">
          </div>
          <p class=""> Bordman is licensed by the Lagos State Lotteries Board (LSLB) under License No 0000355 (lol just
            kidding) </p>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="wrapper">
        <div>
          <strong>
            <p class="copyright">© 2019 Bordman. All rights reserved.</p>
          </strong>
        </div>
        <div class="bottom-footer-img">
          <div class="twitter"><i class="fa fa-twitter"></i></div>
          <div class="facebook"><i class="fa fa-facebook"></i></div>
          <div><img class="dosomething" src="../../assets/home2.png" alt=""></div>
        </div>

      </div>

    </div>
  </footer>
</div>