<div class="col-sm-4 offset-sm-4">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../assets/home2.png" style="width: 40px; height: 40px">
    </a>
    <a class="navbar-brand" href="/">
      <button type="button" (click)="logout()" class="btn btn-info signinbtn">Signout</button>
    </a>
  </nav>
  <p class="text-center">User, Welcome to Bordman</p>
  <div class="container container-grid">
    <a class="item-links" href="leagues/england">
      <div class="card grid-card">
        <img src="../../assets/field.png" alt="" style="width: 40px; height: 40px; margin: auto">
        <p>Leagues</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/wallet2.png" alt="" style="width: 40px; height: 40px; margin: auto">
        <p>Deposit</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/account.png" alt="" style="width: 40px; height: 40px; margin: auto">
        <p>Account</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
        <p>Betslip</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
        <p>Leagues</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
        <p>Test</p>
      </div>
    </a>
    <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
          <p>Lorem Ipsum</p>
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
          <p>Lorem Ipsum</p>
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
          <p>Lorem Ipsum</p>
        </div>
      </a>
      <a class="item-links" href="">
          <div class="card grid-card">
            <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
            <p>Betslip</p>
          </div>
        </a>
        <a class="item-links" href="">
          <div class="card grid-card">
            <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
            <p>Leagues</p>
          </div>
        </a>
        <a class="item-links" href="">
          <div class="card grid-card">
            <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
            <p>Test</p>
          </div>
        </a>
  </div>

  <div class="container container-second">
    <a class="item-links" href="">
        <div class="card-body">
            Desktop Version
          </div>
    </a>
    <a class="item-links" href="">
        <div class="card-body">
            Terms and Conditions
          </div>
    </a>
    <a class="item-links" href="">
        <div class="card-body">
            Contact Us
          </div>
    </a>
    <a class="item-links" href="">
        <div class="card-body">
            Lorem Ipsum
          </div>
    </a>
    <a class="item-links" href="">
        <div class="card-body">
            Lorem Ipsum
          </div>
    </a>
    <a class="item-links" href="">
        <div class="card-body">
            Lorem Ipsum
          </div>
    </a>
  </div>
</div>