<div class="col-sm-4 offset-sm-4">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../assets/home.png" style="width: 40px; height: 40px">
    </a>
  </nav>
  <div class="" id="mysection">
    <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()" class="p-5">
      <p class="h4 mb-4 text-center">Sign in</p>

      <input type="email" id="defaultLoginFormEmail" formControlName="email" class="form-control mb-4"
        placeholder="E-mail">

      <button class="btn btn-primary btn-block my-4" type="submit">Retrieve Password</button>
    </form>
  </div>
</div>