<!-- <div class="col-sm-4 offset-sm-4">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../assets/home2.png" style="width: 40px; height: 40px">
    </a>
    <a class="navbar-brand" href="/account/signin">
      <button type="button" class="btn btn-info signinbtn">Signin</button>
    </a>
  </nav>
  <p class="text-center"> Welcome to Bordman</p>
  <div class="container container-grid">
    <a class="item-links" href="leagues/england">
      <div class="card grid-card">
        <img src="../../assets/field.png" alt="" style="width: 40px; height: 40px; margin: auto">
        <p>Leagues</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/wallet2.png" alt="" style="width: 40px; height: 40px; margin: auto">
        <p>Deposit</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/account.png" alt="" style="width: 40px; height: 40px; margin: auto">
        <p>Account</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
        <p>Betslip</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
        <p>Leagues</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
        <p>Test</p>
      </div>
    </a>
    <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
          <p>Lorem Ipsum</p>
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
          <p>Lorem Ipsum</p>
        </div>
      </a>
      <a class="item-links" href="">
        <div class="card grid-card">
          <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
          <p>Lorem Ipsum</p>
        </div>
      </a>
      <a class="item-links" href="">
          <div class="card grid-card">
            <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
            <p>Betslip</p>
          </div>
        </a>
        <a class="item-links" href="">
          <div class="card grid-card">
            <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
            <p>Leagues</p>
          </div>
        </a>
        <a class="item-links" href="">
          <div class="card grid-card">
            <img src="../../assets/home.png" alt="" style="width: 40px; height: 40px; margin: auto">
            <p>Test</p>
          </div>
        </a>
  </div>

  <div class="container container-second">
    <a class="item-links" href="">
        <div class="card-body">
            Desktop Version
          </div>
    </a>
    <a class="item-links" href="">
        <div class="card-body">
            Terms and Conditions
          </div>
    </a>
    <a class="item-links" href="">
        <div class="card-body">
            Contact Us
          </div>
    </a>
    <a class="item-links" href="">
        <div class="card-body">
            Lorem Ipsum
          </div>
    </a>
    <a class="item-links" href="">
        <div class="card-body">
            Lorem Ipsum
          </div>
    </a>
    <a class="item-links" href="">
        <div class="card-body">
            Lorem Ipsum
          </div>
    </a>
  </div>
</div> -->
<div>
  <div class="header-content">
    <div class="main-content">
      <nav class="navbar navbar-light">
        <div>
          <a class="navbar-brand" href="#">
            <img src="../../assets/home2.png" style="width: 40px; height: 40px"> Bordman
          </a>
        </div>
        <div class="loginform">
          <form [formGroup]="loginForm" class="form-inline">
            <input class="form-control" type="email" id="losefocus" formControlName="email">
            <div class="input-group">
                <input class="form-control" type="password" formControlName="password">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" (click)="onSubmit()" type="button">Login</button>
                </div>
            </div>
            <button class="btn" (click)="openVerticallyCentered(content)"> Register</button>
          </form>
          <a href="account/forgot-password" class="text-muted" style="float:right">Forgot Password?</a>
        </div>

        <!-- <div class="">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-inline">
            <div class="form-group">
              <input type="email" id="defaultLoginFormEmail" formControlName="email" class="form-control mb-4"
                placeholder="E-mail">
            </div>
            <div class="form-group">
              <input type="password" id="defaultLoginFormPassword" formControlName="password" class="form-control mb-4"
                placeholder="Password">
              <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Sign in <i *ngIf="loading"
                  class="fa fa-spin fa-spinner"></i></button>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Sign in <i *ngIf="loading"
                class="fa fa-spin fa-spinner"></i></button>
            <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Sign in <i *ngIf="loading"
                class="fa fa-spin fa-spinner"></i></button>
          </form>
        </div> -->
      </nav>
    </div>
    <div class="wrapper">
      <nav class="nav-route">
        <!-- <ul class="page-nav">
                <li>
                  <a href="">Sports</a>
                </li>
                <li>
                  <a href="">Popular Bets</a>
                </li>
                <li>
                  <a href="">Welcome</a>
                </li>
                <li>
                  <a href="">Welcome</a>
                </li>
                <li>
                  <a href="">Welcome</a>
                </li>
                <li>
                  <a href="">Welcome</a>
                </li>
                <li>
                  <a href="">Welcome</a>
                </li>
              </ul> -->
        <a href="" class="nav-item active">Home</a>
        <a href="" class="nav-item">Popular Bets</a>
        <a href="" class="nav-item">Trouble</a>
        <a href="" class="nav-item">Trouble</a>

      </nav>

    </div>
  </div>
  <!-- <div class="container container-grid">
    <a class="item-links" href="leagues/england">
      <div class="card grid-card">
        <img src="../../assets/field.png" alt="">
        <p>Leagues</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/wallet2.png" alt="">
        <p>Deposit</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/account.png" alt="">
        <p>Account</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/home.png" alt="">
        <p>Betslip</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/home.png" alt="">
        <p>Leagues</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/home.png" alt="">
        <p>Test</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/home.png" alt="">
        <p>Lorem Ipsum</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/home.png" alt="">
        <p>Lorem Ipsum</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/home.png" alt="">
        <p>Lorem Ipsum</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/home.png" alt="">
        <p>Betslip</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/home.png" alt="">
        <p>Leagues</p>
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card grid-card">
        <img src="../../assets/home.png" alt="">
        <p>Test</p>
      </div>
    </a>
  </div> -->
<div class="page-content">
  <div class="wrapper wrapper2">
      <div class="card card-soccer">
          <div class="card-body">
            <h5 class="card-title">Bet Against your friends</h5>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem ipsam voluptates praesentium optio rem debitis facere inventore corporis sapiente reiciendis, animi beatae voluptatem at consectetur nulla aliquam nisi. Inventore, cumque.</p>
            <div class="text-left card-buttons">
                <button class="btn btn-outline-dark info-btn">
                    <a href="#" class="card-link">Popular Bets</a>
                </button>
                <button class="btn btn-outline-dark info-btn">
                    <a href="#" class="card-link">Bet Now</a>
                </button>
            </div>
            
          </div>
        </div>
  </div>
    
</div>
<ng-template #content let-modal>
    <div class="modal-body">
      
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        <ngb-tabset>
            <ngb-tab class="modal-header" title="Register">
                <ng-template ngbTabContent>
                    <div class="signuparea col-sm-8 offset-sm-2">
                        <form  (ngSubmit)="onSubmit()" class="form-body" method="POST">
                          <!-- E-mail -->
                          <input type="email" id="defaultRegisterFormEmail"  class="form-control mb-4"
                            placeholder="E-mail">
                    
                          <!-- Password -->
                          <input type="password" id="defaultRegisterFormPassword" class="form-control"
                            placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                          <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                            At least 6 characters
                          </small>
                    
                          <button class="btn btn-primary my-4 btn-block" type="submit">Sign up  <i *ngIf="loading" class="fa fa-spin fa-spinner"></i></button>
                    
                          <div class="text-center">
                            <hr>
                            <p>By clicking
                              <em>Sign up</em> you agree to our
                              <a href="" target="_blank">Terms of Service and Conditions</a> and
                            </p>
                          </div>
                        </form>
                      </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Login" class="tab-one">
                  <ng-template ngbTabContent>
                      <div class="signuparea col-sm-8 offset-sm-2">
                          <form  (ngSubmit)="onSubmit()" class="form-body" method="POST">
                            <!-- E-mail -->
                            <input type="email" id="defaultRegisterFormEmail"  class="form-control mb-4"
                              placeholder="E-mail">
                      
                            <!-- Password -->
                            <input type="password" id="defaultRegisterFormPassword" class="form-control"
                              placeholder="Choose Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                            <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                            </small>
                            <div class="d-flex justify-content-between">
                                <div>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                                    <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                                  </div>
                                </div>
                                <div>
                                  <a href="/account/forgot-password">Forgot password?</a>
                                </div>
                              </div>
                            <button class="btn btn-primary my-4 btn-block" type="submit">Signin <i *ngIf="loading" class="fa fa-spin fa-spinner"></i></button>
                      
                          </form>
                        </div>
                  </ng-template>
                </ngb-tab>
          </ngb-tabset>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div> -->
  </ng-template>
  <!-- <div class="container-second">
    <a class="item-links" href="">
      <div class="card-body">
        Desktop Version
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card-body">
        Terms and Conditions
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card-body">
        Contact Us
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card-body">
        Lorem Ipsum
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card-body">
        Lorem Ipsum
      </div>
    </a>
    <a class="item-links" href="">
      <div class="card-body">
        Lorem Ipsum
      </div>
    </a>
  </div> -->
  <footer>
    <div class="top-footer">
      <div class="wrapper">
        <div class="footer-cell">
          <h3 class="subheader">Bordman</h3>
          <ul class="menu">
            <li><a href="">Who we are</a></li>
            <li><a href="">Terms and Conditions</a></li>
            <li><a href="">Responsible Gambling</a></li>
            <li><a href="">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="footer-cell">
          <h3 class="subheader">Bordman</h3>
          <ul class="menu">
            <li><a href="">One</a></li>
            <li><a href="">One</a></li>
            <li><a href="">One</a></li>
            <li><a href="">One</a></li>
          </ul>
        </div>
        <div class="footer-cell">
          <h3 class="subheader">Contact Us</h3>
          <ul class="menu">
            <li>Telephone: xxxxxxxxxx</li>
            <li>Email: xxx@xxx.com</li>
          </ul>
        </div>
        <div></div>
      </div>

    </div>
    <div class="mid-footer">
      <div class="wrapper">
        <div class="mid-footer1">
          <div>
            <div>
              <img class="" src="../../assets/18.png" alt="">
            </div>
          </div>
          <p class=""> Must be 18 years of age or older to register or play at SportyBet. Gambles may have adverse
            effects if not made with moderation.</p>
        </div>
        <div class="mid-footer2">
          <div>
            <img class="" src="../../assets/svg.svg" alt="">
          </div>
          <p class=""> Bordman is licensed by the Lagos State Lotteries Board (LSLB) under License No 0000355 (lol just
            kidding) </p>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="wrapper">
        <div>
          <strong>
            <p class="copyright">© 2019 Bordman. All rights reserved.</p>
          </strong>
        </div>
        <div class="bottom-footer-img">
          <div class="twitter"><i class="fa fa-twitter"></i></div>
          <div class="facebook"><i class="fa fa-facebook"></i></div>
          <div><img class="dosomething" src="../../assets/home2.png" alt=""></div>
        </div>

      </div>

    </div>
  </footer>
</div>